# Auto detect text files and perform LF normalization
*.php linguist-language=PHP
*.phtml linguist-language=PHP
*.phps linguist-language=PHP
*.js linguist-vendored
*.css linguist-vendored
*.less linguist-vendored
*.html linguist-vendored
